.input_container {
  display: grid;
  gap: 0.5rem;
}

.input {
  font-size: 1.3rem;
  padding: 0.7rem 0.9rem;
  border: 1px solid var(--black);
}

.input_label {
  font-size: 1.3rem;
  font-weight: 500;
}

.input_error {
  font-size: 0.7rem;
  color: red;
}
