html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: var(--black);
}

:root {
  /* Color Palette */
  --sea_blue: #05668d;
  --metallic_seaweed: #028090;
  --seaweed_blue: #01899b;
  --persian_green: #00a896;
  --caribbean_green: #02c39a;
  --pale_spring_bud: #f0f3bd;
  --brown: #ca7b7b;
  --black: #2b2b2b;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app > :nth-child(2) {
  flex: 1;
  /* Prevent from growing bigger than the flexbox container */
  min-height: 0;
}
